.row{
    padding: 0px 20px;
    
    color: white;
}
.posters{
    overflow: hidden;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    max-width: 320px;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
}
.poster:hover{
    transform: scale(1.3);
    /* width: 325px; */
   
}
.smallposter{
    transform: scale(1.3);
    margin-right: 5px;
}
.desc{
    max-width:300px;
}
